<h1>Home</h1>

<search-box search-field="ctrl.search.title"></search-box>

<table class="table table-bordered">
  <tr>
    <th table-header field="title"></th>
    <th table-header field="author.firstName"></th>
    <th table-header field="author.lastName"></th>
    <th table-header field="category"></th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="book in ctrl.books | orderBy: ctrl.getFieldOrder() : ctrl.getIsReverse() | filter: ctrl.search">
    <td>{{book.title}}</td>
    <td>{{book.author.firstName}}</td>
    <td>{{book.author.lastName}}</td>
    <td><category-pills category="book.category"></category-pills></td>
    <td>
      <button class="btn" ng-click="ctrl.deleteBook(book.id)">Delete</button>
      <a href="/edition/{{book.id}}" class="btn btn-primary">Edit</a>
    </td>
  </tr>
</table>